APP_NAME="Mini-RAG"
APP_VERSION="0.1.0"

FILE_ALLOWED_EXTENSIONS=["plain/text", "application/pdf"]
FILE_MAX_SIZE_MB=10
FILE_CHUNK_SIZE=512

# Database configuration
MONGODB_URI="mongodb://localhost:27017"
MONGODB_DB_NAME="mini_rag"

# OpenAI API configuration

OPENAI_API_KEY="your_openai_api_key_here"
OPENAI_API_BASE="https://api.openai.com/v1"
GENERATE_RESPONSE_MODEL="gpt-3.5-turbo"
EMBEDDINGS_MODEL="text-embedding-3-small"
EMBEDDING_DIMENSION=1536
MAX_INPUT_TOKENS=4096
MAX_RESPONSE_TOKENS=1000
TEMPERATURE=0.2

#vector database configuration

VECTOR_DB_PATH="./assets/db/qdrant_data"
VECTOR_DISTANCE_METRIC="cosine"